# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*.tfvars

# Секретные ключи
key.json
*.pem
*.key
*.crt

# Python
venv/
__pycache__/
*.pyc